# Ignore les fichiers .DS_Store
.DS_Store

# Ignore le fichier additional.properties
additional.properties

# Ignore les fichiers application.properties
**/application.properties

# Fichier .class
*.class